---
layout: default
---
<div class="about-us">
		<div class="container">
			<div class="col-md-6">
				<img src="image/campaign-monitor-mbp.png"/>
			</div>
			<div class="col-md-6">
				<h2>External landing pages simply work better</h2>
				<p>Why do you need external landing pages? Your website is designed with a general purpose in mind. Your landing pages are designed with one purpose. Conversion. By removing navigation and other clutter you will be able to better present your unique selling proposition for that specific campaign or activity.</p>
			</div>
		</div>
	</div>
	