<div class="row">
				<div class="col-md-4 split-content">
					<img src="{{site.baseurl}}/image/rocket2.png"/>
					<h3>{{page.blockone-title}}</h3>
					<p>{{page.blockone-content}}</p>
				</div>
				<div class="col-md-4 split-content">
				    <img src="{{site.baseurl}}/image/rocket2.png"/>
				    <h3>{{page.blocktwo-title}}</h3>
					<p>{{page.blocktwo-content}}</p>
				</div>
				<div class="col-md-4 split-content">
				    <img src="{{site.baseurl}}/image/rocket2.png"/>
				    <h3>{{page.blockthree-title}}</h3>
					<p>{{page.blockthree-content}}</p>
				</div>
			</div>