<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{page.title}}</title>
<meta name="description" content="">
<link href="{{site.baseurl}}/css/style.css" rel="stylesheet" type="text/css">
<link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{{site.baseurl}}/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script type="text/javascript" src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/custom.js"></script>

</head>
<body>
	<div class="header">
	  <div class="container">
		<div class="row">
			<div class="col-md-6">
				 <div id="logo">
                    <h1>
						<a href="#" title="WPZOOM Theme Demo">HATKIT</a>
			  		</h1>
                </div>
			</div>
			<div class="col-md-6 hidden-sm hidden-xs">
				<ul class="menu">
					<li><a href="{{site.baseurl}}">Home</a></li>
					<li><a href="{{site.baseurl}}/about/">About</a></li>
					<li><a href="{{site.baseurl}}/blog/">Blog</a></li>
					<li><a href="{{site.baseurl}}/privacy/">Privacy</a></li>
					<li><a href="{{site.baseurl}}/contact/">Contact</a></li>
					
				</ul>
			</div>

    <div class="responsive-menu hidden-md hidden-lg">
    	<a href="#" class="respon-menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a href="#" class="respon-cross"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
    <div class="resmenu hidden-md hidden-lg">
    	<ul>
        	<li><a href="{{site.baseurl}}">Home</a></li>
            <li><a href="{{site.baseurl}}/about/">About</a></li>
            <li><a href="{{site.baseurl}}/blog/">Blog</a></li>
            <li><a href="{{site.baseurl}}/privacy/">Privacy</a></li>
           <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
                
        </ul>
        
    </div>
		</div>
		</div>
	</div>
	<!--headerends-->

	<!--bannersends-->
	{{content}}

	<!---content ends-->
	{% include footer.html %}
</body>
</html>
