<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{page.title}}</title>
<meta name="description" content="">

<link href="{{site.baseurl}}/css/style.css" rel="stylesheet" type="text/css">
<link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{{site.baseurl}}/css/responsive.css" rel="stylesheet" type="text/css" />

<link href="{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script type="text/javascript" src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/custom.js"></script>

</head>
<body>
	<div class="header">
	  <div class="container">
		<div class="row">
			<div class="col-md-6">
				 <div id="logo">
                    <h1>
						<a href="#" title="WPZOOM Theme Demo">HATKIT</a>
			  		</h1>
                </div>
			</div>
			<div class="col-md-6 hidden-sm hidden-xs">
				<ul class="menu">
					<li><a href="{{site.baseurl}}">Home</a></li>
					<li><a href="{{site.baseurl}}/about/">About</a></li>
					<li><a href="{{site.baseurl}}/blog/">Blog</a></li>
					<li><a href="{{site.baseurl}}/privacy/">Privacy</a></li>
					<li><a href="{{site.baseurl}}/contact/">Contact</a></li>
					
				</ul>
			</div>

    <div class="responsive-menu hidden-md hidden-lg">
    	<a href="#" class="respon-menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a href="#" class="respon-cross"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
    <div class="resmenu hidden-md hidden-lg">
    	<ul>
        	<li><a href="{{site.baseurl}}">Home</a></li>
            <li><a href="{{site.baseurl}}/about/">About</a></li>
            <li><a href="{{site.baseurl}}/blog/">Blog</a></li>
            <li><a href="{{site.baseurl}}/privacy/">Privacy</a></li>
           <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
                
        </ul>
        
    </div>
		</div>
		</div>
	</div>
	<!--headerends-->
	<div class="banner-section">
		<div class="container">
			<div class="col-md-6 banner">
				<img src="{{site.baseurl}}/image/finge-600-21.png"/>
			</div>
			<div class="col-md-6">
			   <div class="banner-content">
				<h3>{{page.banner-heading}}</h3>
				<h5>{{page.banner-sub-heading}}</h5>
				 <a href="tel:{{page.number}}">{{page.number}}</a>
				  
			</div>
		</div>
	</div>
	</div>
	<!--bannersends-->
	
	<div class="content-section">
		<div class="container">
		  <div class="content">
			<h2>{{page.heading}}</h2>
			<p>{{page.sub-heading}}</p>
			</div>
			<div class="row">
				<div class="col-md-4 split-content">
					<img src="{{site.baseurl}}/image/rocket2.png"/>
					<h3>{{page.blockone-title}}</h3>
					<p>{{page.blockone-content}}</p>
				</div>
				<div class="col-md-4 split-content">
				    <img src="{{site.baseurl}}/image/rocket2.png"/>
				    <h3>{{page.blocktwo-title}}</h3>
					<p>{{page.blocktwo-content}}</p>
				</div>
				<div class="col-md-4 split-content">
				    <img src="{{site.baseurl}}/image/rocket2.png"/>
				    <h3>{{page.blockthree-title}}</h3>
					<p>{{page.blockthree-content}}</p>
				</div>
			</div>
		</div>
	</div>
	
	<!---content ends-->
	<div class="footer-section">
	 <div class="container">
		<div class="footer">
		 <div class="row">
		 	<div class="col-md-3 newletter">
				<h3>NEWSLETTER</h3>
				<p>Sign up for latest news, tips and learnings from ConversionLab.</p>
				<a href="#">Signup for newsletter</a>
		 	</div>
			<div class="col-md-3 social">
			   <h3>FOLLOW US</h3>
			   <ul class="social-icon">
				   <li><img src="{{site.baseurl}}/image/facebook.png"/></li>
				   <li><img src="{{site.baseurl}}/image/twitter.png"/></li>
				   <li><img src="{{site.baseurl}}/image/google-plus.png"/></li>
			   </ul>
			 </div>
			 <div class="col-md-6 social">
			   <h3>Products</h3>
			   <ul class="products">
				   <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i><a href="#">Submersible Pumps</a></li>
				   <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i><a href="#">Submersible Pumps</a></li>
				   <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i><a href="#">Submersible Pumps</a></li>
				    <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i><a href="#">Submersible Pumps</a></li>
				   <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i><a href="#">Submersible Pumps</a></li>
				   <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i><a href="#">Submersible Pumps</a></li>
				    <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i><a href="#">Submersible Pumps</a></li>
				   <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i><a href="#">Submersible Pumps</a></li>
			   </ul>
			 </div>
			
			
		</div>
		 </div>
	  </div>
	</div>
</body>
</html>
